In [1]:
!pip install pyperclip
!pip install motionchart

import pandas as pd
import numpy as np
from motionchart.motionchart import MotionChart
from pandas import Series, DataFrame

Requirement already satisfied: pyperclip in /anaconda3/lib/python3.6/site-packages (1.6.4)
distributed 1.21.8 requires msgpack, which is not installed.
You are using pip version 10.0.1, however version 18.0 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.
Requirement already satisfied: motionchart in /anaconda3/lib/python3.6/site-packages (0.3)
distributed 1.21.8 requires msgpack, which is not installed.
You are using pip version 10.0.1, however version 18.0 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [2]:
dataframe = pd.read_csv('CityPairs.csv', usecols=["AustralianPort", "Passengers_Total", "Freight_Total_(tonnes)", "Mail_Total_(tonnes)","Year"],)
dataframe

,AustralianPort,Passengers_Total,Freight_Total_(tonnes),Mail_Total_(tonnes),Year
0,Adelaide,2498,60.871,1.235,1985
1,Adelaide,17,0.033,0.000,1985
2,Adelaide,12,0.000,0.000,1985
3,Adelaide,286,0.009,0.248,1985
4,Adelaide,3039,13.418,2.487,1985
5,Adelaide,31,0.100,0.000,1985
6,Adelaide,123,0.005,0.000,1985
7,Adelaide,4533,170.548,0.112,1985
8,Brisbane,3,0.000,0.000,1985
9,Brisbane,12809,256.290,3.889,1985
10,Brisbane,27,0.149,0.000,1985
11,Brisbane,1037,11.741,0.000,1985
12,Brisbane,89,0.002,0.083,1985
13,Brisbane,5205,145.874,0.256,1985
14,Brisbane,283,0.021,0.677,1985
15,Brisbane,3074,48.302,0.014,1985
16,Brisbane,1152,15.549,0.000,1985
17,Brisbane,654,7.051,0.000,1985
18,Brisbane,83,0.200,0.000,1985
19,Brisbane,3202,6.161,3.454,1985
20,Brisbane,57,2.796,0.000,1985
21,Brisbane,1805,16.031,0.127,1985
22,Brisbane,4,0.000,0.000,1985
23,Brisbane,1339,9.034,0.000,1985
24,Brisbane,631,0.415,0.000,1985
25,Brisbane,3928,53.450,3.091,1985
26,Brisbane,687,3.100,0.000,1985
27,Brisbane,72,0.012,0.113,1985
28,Brisbane,773,1.716,1.538,1985
29,Brisbane,4593,102.371,0.221,1985
...,...,...,...,...,...
59566,Sydney,64068,3257.867,263.499,2016
59567,Sydney,0,1021.355,0.000,2016
59568,Sydney,0,6.000,0.000,2016
59569,Sydney,28751,501.276,3.334,2016
59570,Sydney,35963,630.305,8.975,2016
59571,Sydney,2087,21.523,3.979,2016
59572,Sydney,6402,86.621,12.028,2016
59573,Sydney,7316,315.126,14.305,2016
59574,Sydney,6861,68.597,6.218,2016
59575,Sydney,104,6.318,0.000,2016
59576,Sydney,9318,70.302,0.000,2016
59577,Sydney,1330,5.436,0.000,2016
59578,Sydney,4708,23.992,4.663,2016
59579,Sydney,10194,0.000,0.000,2016
59580,Sydney,1377,24.866,0.008,2016
59581,Sydney,24495,539.808,11.394,2016
59582,Sydney,15663,235.034,5.087,2016
59583,Sydney,29033,636.684,83.025,2016
59584,Sydney,33216,1351.255,105.437,2016
59585,Sydney,3126,317.527,0.000,2016
59586,Sydney,103718,5955.163,185.679,2016
59587,Sydney,896,0.000,0.000,2016
59588,Sydney,7055,153.235,44.592,2016
59589,Sydney,37426,1558.766,196.760,2016
59590,Sydney,2315,2.842,0.000,2016
59591,Sydney,2063,0.000,0.000,2016
59592,Sydney,12138,336.355,30.505,2016
59593,Sydney,22139,37.398,0.292,2016
59594,Sydney,2528,155.362,5.882,2016
59595,Sydney,0,81.816,0.000,2016

In [7]:
#here I use groupby() function to aggregate the data to get the sum of passengers each year
data_group = dataframe.groupby(['AustralianPort','Year']).sum()
data_group

                     Passengers_Total  Freight_Total_(tonnes)  \
AustralianPort Year
Adelaide       1985            108034                3985.807
               1986            136571                4764.827
               1987            139692                6213.399
               1988            140884                6983.570
               1989            147178                7068.642
               1990            181397                6968.551
               1991            192084                8734.098
               1992            204463                8796.112
               1993            216419               10202.712
               1994            214356               10532.110
               1995            207621                9808.780
               1996            205863               10428.718
               1997            208890               10608.779
               1998            223035                9994.051
               1999            241014               10102.186
               2000            270099               12164.502
               2001            241844               11846.497
               2002            224351               11835.181
               2003            206849               12624.606
               2004            286083               13541.657
               2005            334298               15425.791
               2006            400489               18823.517
               2007            455149               18024.663
               2008            479679               19455.299
               2009            501399               19043.257
               2010            532392               18896.362
               2011            583073               18040.937
               2012            650077               19326.944
               2013            799585               21273.428
               2014            967265               19799.929
...                               ...                     ...
Sydney         1987           3569509              158198.254
               1988           4106460              169022.590
               1989           4026296              193957.314
               1990           4264091              195776.001
               1991           4220272              193499.302
               1992           4505656              221646.058
               1993           4778015              242932.406
               1994           5358494              278912.250
               1995           5838451              289008.200
               1996           6477744              303960.775
               1997           6840696              338924.034
               1998           6933551              335499.765
               1999           7388153              349774.072
               2000           8237223              328750.664
               2001           8228973              305817.401
               2002           8006775              305379.595
               2003           7929841              287161.664
               2004           8951825              323603.612
               2005           9515983              346563.213
               2006           9865970              363299.796
               2007          10378240              379762.748
               2008          10552900              374539.515
               2009          10635270              349934.648
               2010          11455537              391059.876
               2011          11748582              408593.418
               2012          12369193              418242.170
               2013          12933885              413568.655
               2014          13315835              411083.644
               2015          13911228              443373.635
               2016           6186627              190861.843

                     Mail_Total_(tonnes)
AustralianPort Year
Adelaide       1985               66.718
               1986               89.286
               1987               88.375
               1988              153.406
               1989              240.632
               1990              245.788
               1991              236.493
               1992              285.808
               1993              276.891
               1994              264.299
               1995              273.929
               1996              298.306
               1997              239.486
               1998              264.073
               1999              401.061
               2000              534.097
               2001              553.972
               2002              573.662
               2003              167.788
               2004              170.125
               2005              249.417
               2006              344.037
               2007              236.969
               2008               80.577
               2009               88.681
               2010               75.270
               2011               69.050
               2012               70.566
               2013               34.698
               2014               45.755
...                                  ...
Sydney         1987             3512.471
               1988             6642.487
               1989             8934.256
               1990             9868.353
               1991             9994.147
               1992             9930.053
               1993             9848.984
               1994            10262.976
               1995            10368.935
               1996            11239.401
               1997            13239.084
               1998            15108.682
               1999            15826.529
               2000            17722.078
               2001            16775.270
               2002            16386.839
               2003            17423.565
               2004            17228.916
               2005            18754.480
               2006            18766.389
               2007            21970.443
               2008            23718.000
               2009            22256.611
               2010            24096.445
               2011            26958.605
               2012            26304.486
               2013            24482.237
               2014            25019.844
               2015            22478.601
               2016             8788.413

[160 rows x 3 columns]

In [11]:
#this html code is from tutorial.

In [12]:

%%html
<style>
.output_wrapper, .output {
    height:auto !important;
    max-height:1000px;  /* your desired max-height here */
}
.output_scroll {
    box-shadow:none !important;
    webkit-box-shadow:none !important;
}
</style>

In [13]:
#this block of code is also from Tutorial.

mChart = MotionChart(df = data_group, key='Year', x='Passengers_Total', y='Freight_Total_(tonnes)', xscale='linear', yscale='linear',
                     size='Mail_Total_(tonnes)'
, color ='AustralianPort', category='AustralianPort')

mChart.to_notebook()